# 12 MHz clock
set_io -nowarn CLK        35

# Buttons
set_io -nowarn BTN_U      10 #user uttong near usb micro conn
set_io -nowarn BTN1       20
set_io -nowarn BTN2       19
set_io -nowarn BTN3       18

# LEDs
set_io -nowarn LED[0]      26
set_io -nowarn LED[1]      27
set_io -nowarn LED[2]      25
set_io -nowarn LED[3]      23
set_io -nowarn LED[4]      21
